*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-family: "Ubuntu", sans-serif;
}

ul {
    width: 900px;
    height: 256px;
    text-align: center;
    margin: 0 auto;
}

ul li {
    display: inline-block;
    /* padding: 0 174px; */
    text-transform: uppercase;
    margin-top: 75px;
    margin-right: 100px;
    margin-bottom: 100px;
}

ul li:last-child {
    margin-right: 0;
}

li a {
    color: #626262;
    text-decoration: none;
}

li a:hover {
    color: #03a9f4;
}

/*main {
    color: #626262;
    margin-top: 100px;
    text-align: center;
}*/

.container {
    color: #626262;
    margin-top: 100px;
    text-align: center;
    font-size: 0;
    width: 900px;
    margin: 0 auto;
}

div {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 130px;
}

div:nth-child(even) {
    margin-right: 0;
}

div:nth-last-child(-n+2) {
    margin-bottom: 55px;
}

.post img {
    display: block;
    width: 100%;
    height: auto;
}

h2 {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 35px;
    text-align: left;
}

.post .subtext {
    color: #b4ad9e;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: 26;
    margin-bottom: 30;
    text-align: left;
    text-transform: uppercase;
}

p {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 14px;
    margin: 20px 0 20px;
    text-align: left;
}

button {
    /*color: #626262;*/
    font-family: "Playfair Display";
    font-weight: 400;
    background-color: white;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    border: 1px solid;
    padding: 20px 35px;
    /*width: 160px;
    height: 60px;*/
    margin-bottom: 75px;
}

