input {
    font-size: 15px;
    font-family: "Roboto";
    color: $first-dark-color;
    padding-left: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: $secondary-bg-color;
    background-color: $primary-white-color;
    width: 234px;
    height: 44px;

    &::placeholder {
        font-size: 15px;
        font-family: "Roboto";
        color: $input-bg-color;
        font-style: italic;
    }
}

