.service-name {
    list-style: none;
    padding-left: 60px;
    max-width: 350px;
    flex: 0 0 360px;
    margin-bottom: 87px;
    cursor: pointer;
}

.service-name>h3 {
    font-size: 14px;
    font-family: "Montserrat";
    color: $secondary-dark-color;
    text-transform: uppercase;
    line-height: 1.7;
    font-weight: 400;
    text-align: left;
    margin-bottom: 9px;
}

.service-item {
    padding: 65px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1150px;
    margin: 0 auto;
}

.service-name>p {
    font-size: 15px;
    font-family: "Roboto";
    color: $first-lightdark-color;
    line-height: 1.6;
    text-align: left;
}