.photography {
    background-image: url(../images/icon/photography.png);
    background-repeat: no-repeat;
}

.design {
    background-image: url(../images/icon/web.png);
    background-repeat: no-repeat;
}

.creativity {
    background-image: url(../images/icon/creativity.png);
    background-repeat: no-repeat;
}

.seo {
    background-image: url(../images/icon/seo.png);
    background-repeat: no-repeat;
}

.css {
    background-image: url(../images/icon/css-html.png);
    background-repeat: no-repeat;
}

.digital {
    background-image: url(../images/icon/digital.png);
    background-repeat: no-repeat;
}