* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    width: 1110px;
    margin: 0 auto;

}

.page-hader {
    list-style: none;
    padding-bottom: 160px;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

a {
    color: #000;
    text-decoration: none;
}

nav a:hover {
    color: #1abc9c;
}

.logo {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 38px;
    float: left;
}

.logo::first-letter {
    color: #1abc9c;
    font-weight: 900;
}

.hader {
    float: right;
}

.page-hader li {
    font-family: "Open Sans", sans-serif;
    list-style-type: none;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 15px;
    margin-top: 47px;;
    float: left;
}

.hader>li:last-child {
    margin-right: 0px;
}

.catalog {
    width: 1110px;
    margin: 0 auto;  
}

.catalog-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item {
    float: left;
    width: 255px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.catalog-item:nth-child(4n) {
    margin-right: 0px;
}

img {
    display: block;
    /*width: 255px;
    height: 282px;*/
    background-color:#e9f0fd;
}

h2 {
    color: #515151;
    font-family: "Roboto";
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    margin-bottom: 92px;
    
}

h2::after {
    display: block;
    background-color: #1abc9c;
    width: 160px;
    height: 7px;
    text-align: center;
    content: '';
    margin-left: 467px;
    margin-top: 32px;
}

.catalog-name {
    margin: 0;
    padding: 0;
    background-color: #323232;
}

h3 {
    float: left;
    font-size: 18px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: left;
    height: 40px;
    padding: 0 0 0 12px;
    margin: 0;
}

h3>a {
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 900;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
}

.catalog-name>p {
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.44);
    float: right;
    font-size: 18px;
    width: 54px;
    height: 40px;
    margin: 0 auto;
    padding-left: 15px;
    padding-top: 10px;
}

.catalog-item:hover .catalog-name {
    background: #1abc9c;
}

.blog {
    width: 1110px;
    margin: 0 auto;
    padding-top: 105px;
    padding-bottom: 80px; 
}

.blog-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.blog-item {
    float: left;
    width: 350px;
    margin-right: 30px;
}

/*.blog-item>img {
    width: 350px;
    height: 260px;
}*/

.blog-item-hader {
    font-size: 18px;
    color: rgb(85, 82, 82);
    font-family: "Myriad Pro", sans-serif;
    margin-top: 15px;
    margin-bottom: 31px;
}

h4 {
    font-size: 18px;
    color: rgb(85, 82, 82);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 31px;
}

h4::after {
    display: block;
    background-color: #1abc9c;
    width: 136px;
    height: 3px;
    text-align: left;
    content: '';
    margin-top: 14px;
}

.blog-item:nth-child(3n) {
    margin-right: 0px;
}

.blog-paragraph {
    font-size: 14px;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(85, 82, 82);
}

p {
    font-size: 14px;
    color: rgb(85, 82, 82);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.button {
    display: inline-block;
    color: #fff;
    background-color: #4ec6ab;
    width: 160px;
    font-family: "Open Sans";
    text-align: center;
    font-weight: 300;
    line-height: 50px;
    height: 51px;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
}