* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container {
    width: 1200px;
    font-family: 'Roboto', 'Montserrat', 'Kaushan Script', sans-serif;
    color: #333333;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.header-container {
    background-image: linear-gradient(0deg,
            rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
        url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1000px;
    margin-bottom: 45px;
}

.header-navigation {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    min-height: 65px;
    margin-bottom: 110px;
    padding-top: 2px;
}

.logo__link {
    display: flex;
    font-size: 30px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 1.2;
}

.site-menu__icon {
    display: block;
    width: 18px;
    height: 15px;
    fill: #ffffff;
    margin-bottom: 11px;
}

.navigation-menu {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 14px;
    font-family: "Montserrat";
    text-transform: uppercase;
    line-height: 1.2;
    width: 490px;
    height: 65px;
}

.navigation-item::after {
    content: '';
    background-color: #fce38a;
    display: none;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 10px;
    transition: width 200ms linear;

}

.navigation-item {
    color: #ffffff;
    transition: color 200ms linear;
}

.navigation-item:hover {
    color: #fce38a;
}

.site-menu__icon:hover {
    fill: #fce38a;
}

.navigation-item:hover:after {
    width: 100%;
}

.site-menu__button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.header-text {
    width: 820px;
    text-align: center;
    padding-top: 150px;
    margin: 0 auto;
}

.header-text__subtitle {
    font-size: 72px;
    font-family: "Kaushan Script";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-bottom: 40px;
}

.header-text__title {
    font-size: 150px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.933;
    margin-bottom: 120px;
}

.header-text__link {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    padding: 8px 29px;
}

h2 {
    font-size: 24px;
    font-family: "Kaushan Script";
    color: rgb(51, 51, 51);
    line-height: 1.7;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
}

h2::first-letter {
    text-transform: uppercase;
}

span {
    width: 317px;
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
}

span:after {
    display: block;
    background-color: rgb(243, 129, 129);
    width: 60px;
    height: 3px;
    content: '';
    margin: 0 auto;
    margin-top: 25px;
}

.service-name {
    list-style: none;
    padding-left: 60px;
    max-width: 350px;
    flex: 0 0 360px;
    margin-bottom: 87px;
    cursor: pointer;
}

.service-name>h3 {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.7;
    font-weight: 400;
    text-align: left;
    margin-bottom: 9px;
}

.service-item {
    padding: 65px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1150px;
    margin: 0 auto;
}

.service-name>p {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: left;
}

.photography {
    background-image: url(../img/icon/photography.png);
    background-repeat: no-repeat;
}

.design {
    background-image: url(../img/icon/web.png);
    background-repeat: no-repeat;
}

.creativity {
    background-image: url(../img/icon/creativity.png);
    background-repeat: no-repeat;
}

.seo {
    background-image: url(../img/icon/seo.png);
    background-repeat: no-repeat;
}

.css {
    background-image: url(../img/icon/css-html.png);
    background-repeat: no-repeat;
}

.digital {
    background-image: url(../img/icon/digital.png);
    background-repeat: no-repeat;
}

.team-item {
    max-width: 980px;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    padding: 41px 0 88px;
    margin: 0 auto;
    text-align: center;
}

.team-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
}

.team-photo {
    width: 380px;
}

.team-substrate>img {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function:linear;
}

.team-substrate {
    position: relative;
    background-color: rgb(149, 225, 211);
}

.social {
    background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 200ms linear;
    opacity: 0;
}

.team-photo:hover .team-substrate>img,
.team-photo:hover .social {
    opacity: 1;
    transform: translate(-11px, -11px);
}

.social__buttons {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__button-link {
    display: flex;
    width: 56px;
    height: 56px;
    background-color: rgb(252, 227, 138);
    justify-content: center;
    align-items: center;
}

.social__button-svg {
    width: 27px;
    height: 27px;
    fill: #f38181;
    transition: fill 200ms linear;
}

.social__button-link:hover,
.social__button-link:hover .social__button-svg {
    fill: #ffffff;
    background-color: #f38181;
}

/*.socials__button-link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

.social__button:not(:last-child) {
    border-right: 1px solid #f38181;
}

.socials__button-link:hover {
    background-color: #95e1d3;
}

.position-name {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 12px;
    padding-top: 27px;
}

.position {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
    text-align: center;
}

.footer-text {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    line-height: 3;
}

.footer-text>a {
    color: #f38181;
}

.email{
    font-size: 0;
}

input {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(5, 5, 5);
    padding-left: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(231, 231, 231);
    background-color: rgb(255, 255, 255);
    width: 234px;
    height: 44px;
}

input::placeholder {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(204, 204, 204);
    font-style: italic;

}

.footer-button {
    border: none;
    background-color: rgb(149, 225, 211);
    width: 154px;
    height: 44px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

footer:before {
    display: block;
    background-color: rgb(229, 229, 229);
    width: 1200px;
    height: 1px;
    content: '';
    margin: 80px 0 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

@media screen and (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2) {
    .header-container {
        background-image: linear-gradient(0deg,
                rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
            url(../img/banner@2x.png);
    }
}